@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  word-break: break-all;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.card-base {
  @apply border rounded-md shadow-sm hover:shadow-lg transition-shadow bg-white overflow-hidden;
}

.category-tag {
  @apply w-max h-min text-sm text-indigo-600 border border-indigo-600 rounded px-2 pt-[3px] pb-[2px];
}

.comment-link {
  @apply text-blue-600 hover:text-blue-400
}
